releve.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT releve (datereleve, solde, operations) >
<!ATTLIST releve RIB CDATA #REQUIRED >
<!ELEMENT datereleve (#PCDATA) >
<!ELEMENT solde (#PCDATA) >
<!ELEMENT operations (operation*) >
<!ATTLIST operations datedebut CDATA #REQUIRED datefin CDATA #REQUIRED >
<!ELEMENT operation EMPTY >
<!ATTLIST operation type (CREDIT|DEBIT) #REQUIRED date CDATA #REQUIRED montant CDATA #REQUIRED description CDATA #IMPLIED>


